---
layout: layout/page.ejs
title: Projects
---
<ul class="content-list">
    <% for(var project in collections.project) { %>
        <% 
            project = collections.project[project]; 
            if(project.data.hidden) { continue; }
        %>
        <li class="post">
            <a class="post-link" href=<%- project.page.url %>>
                <%- project.data.title %>
                <p>
                    <% let date = project.page.date %>
                    <%- date.getUTCFullYear() + '-' + (date.getUTCMonth() + 1) + '-' + date.getUTCDay() %>
                </p>
            </a> 
            <div class="post-info">
                <% for(let i = 0; i < project.data.categories.length; i++) { %>
                    <a class="tag-pill" href=<%- "?filter=" + project.data.categories[i] %>>
                        <%- project.data.categories[i].charAt(0).toUpperCase() + project.data.categories[i].slice(1) %>
                    </a>
                <% } %>
            </div>
        </li>
    <% } %>
</ul>