---
layout: layout/page.ejs
title: Blog
---
<ul class="content-list">
    <% let post_count = 0; %>
    <% for(var blog in collections.blog) { %>
        <% 
            blog = collections.blog[blog], dev = process.env.ELEVENTY_RUN_MODE === 'serve';
            if(!dev && blog.data.hidden) { continue; }
            post_count += dev && blog.data.hidden ? 0 : 1;
            let tags = blog.data.categories.join(',');
        %>
        <li class="post<%= dev && blog.data.hidden ? " hidden-post" : "" %>" data-tags="<%= tags %>">
            <a class="post-link" href=<%- blog.page.url %>>
                <%- blog.data.title %>
                <% date = blog.data.date %>
                <p><%= locals.collections.all[0].page.getUTCDateString(date); %></p>
            </a> 
            <div class="post-info">
                <% for(let i = 0; i < blog.data.categories.length; i++) { %>
                    <a class="tag-pill" href=<%- "?filter=" + blog.data.categories[i] %>>
                        <%- blog.data.categories[i].charAt(0).toUpperCase() + blog.data.categories[i].slice(1) %>
                    </a>
                <% } %>
            </div>
        </li>
    <% } %>
    <% if(post_count === 0) { %>
        <span class="italic">There doesn't seem to be anything here yet.</span>
    <% } %>
</ul>